<h1>Welcome to CSE Motors!</h1>
<div id="hero">
    <picture id="hero-img">
        <source srcset="/images/vehicles/delorean.jpg" media="(min-width: 420px)" width="800">
        <img src="/images/vehicles/delorean-tn.jpg" alt="delorean in grayscale">
    </picture>
    <div id="hero-text">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
            <li><button type="button">Own Today</button></li>
        </ul>
    </div>
</div>
    <section id="reviews">
        <h1>DMC Delorean Reviews</h1>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
    <section id="upgrades">
        <h1>Delorean Upgrades</h1>
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
                    </td>
                    <td>
                        <img src="/images/upgrades/flame.jpg" alt="Flame">
                    </td>
                </tr>
                <tr>
                    <td>Flux Capacitor</td>
                    <td>Flame Decals</td>
                </tr>
                <tr>
                    <td>
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    </td>
                    <td>
                        <img src="/images/upgrades/hub-cap.jpg" alt="hubcap">
                    </td>
                </tr>
                <tr>
                    <td>Bumper Stickers</td>
                    <td>Hub Caps</td>
                </tr>
            </tbody>
        </table>
    </section>