/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: fit-content;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  
}
header, main, footer, nav {
  width: 100%;
  background-color: white;
  margin: 0px;
  padding: 0px;
}
nav{
  background-color: black;
  position: absolute;
  left: 0;
  border-radius: 0px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content:space-evenly;
  padding: .25rem;
  padding-left: 0px;
  color: white;
  font-size: 12px;
}
header {
  height: fit-content;
  padding-top: .5rem;
  display: grid;
  grid-template-columns: 3fr .5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.siteName a, #tools a{
  text-decoration:none;
  color: black;
}
.siteName {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: xx-large;
  font-weight: bold;
  align-self: left;  
  text-align: left;                                                                      
}
#tools {
  grid-column: 3/4;
  grid-row: 1/2;
}
main {
  margin-top: 2rem;
  border-radius: 0px;
}
h1{
  text-align: left;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: .5rem;
}
#hero {
  width: 100%;
  object-fit: cover;
}
#hero-text {
  z-index: 1;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.208);
  color: darkcyan;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  top: 14rem;
  left: 1rem;
}
#hero-text h3 {
  padding: 0px;
  margin: 0px;
  font-weight: bolder;
  font-size: 18px;
}
#hero-text ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 12px;
}
#hero-text ul li button {
  background-color: greenyellow;
  padding: .5rem;
  font-size: 18px;
  border: none;
  box-shadow: -2px 2px 2px black;
}
#hero-img {
  width: 100%;
  z-index: 0;
}
#reviews {
  text-align: left;
  width: 95%;
  background-color: black;
  color: greenyellow;
  padding-bottom: 1rem;
  margin: auto;
}
#reviews h1 {
  margin-bottom: 0px;
}
#reviews ul {
  margin-top: 0px;
}

table {
  width: 100%;
  row-gap: 1rem;
  column-gap: 1rem;
  border-spacing: 1rem;
  margin: 0px;
}
table tr td {
  background-color: darkcyan;
  border: 2px solid black;
  width: 40%;
}
table tr:nth-child(even) td{
  background-color: white;
  border: none;
}
#upgrades section {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 10rem;
}
footer {
  display:block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  color: black;
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem;
}

@media screen and (min-width: 450px) {
  

body{
  width: 100%;
  margin: 0px;
  margin-top: 1rem;
  padding: 0px;
  background-image: url("/images/site/small_check.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
header, main, footer, nav {
  width: 100%;
  margin: auto;
  background-color: white;
  border: 5px solid cyan;
  
}
nav{
  background-color: black;
  border-top:none;
  border-bottom:none;
  position: relative;
  padding: .5rem;
  margin-bottom: 0px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content:space-around;
}
header {
  width: 100%;
  height: fit-content;
  text-decoration: none;
  border-bottom: none;
  grid-template-columns: 2fr auto 1fr;
  border-radius: .5rem;
  padding: 1rem;
  margin: 0px;
}
#tools {
  grid-column: 3/4;
  float: right;
  text-align: right;
}
main {
  border-top: none;
  padding-top: 0px;
  margin-top: -1rem;
  margin-bottom:1rem;
}
#hero {
  margin-top: 0px;
}
#hero-text {
  position: unset;
  top: unset;
  position:relative;
  top: -15rem;
}
footer {
  margin-top: 5rem;
  position: absolute;
  bottom: 0;
}
}