/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: fit-content;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  
}
header, main, footer, nav {
  width: 100%;
  background-color: white;
  margin: 0px;
  padding: 0px;
}
nav{
  background-color: black;
  position: absolute;
  left: 0;
  right:0;
  border-radius: 0px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content:space-evenly;
  color: white;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}
nav ul li a{
  display: block;
  padding: 1rem;
  margin: 0px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
header {
  height: fit-content;
  padding-top: .5rem;
  display: grid;
  grid-template-columns: 3fr .5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.siteName a, #tools a{
  text-decoration:none;
  color: black;
}
.siteName {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: xx-large;
  font-weight: bold;
  text-align: left;                                                                      
}
#tools {
  grid-column: 3/4;
  grid-row: 1/2;
}
main {
  margin-top: 2rem;
  border-radius: 0px;
}
h1{
  text-align: left;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: .5rem;
}
#hero {
  width: 100%;
  object-fit: cover;
  margin-bottom: 4rem;
}
#hero-text {
  z-index: 1;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.523);
  color: rgb(2, 155, 182, 42);
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  top: 14rem;
  left: 1rem;
}
#hero-text h2 {
  padding: 0px;
  margin: 0px;
  font-weight: bolder;
  font-size: 1.25rem;
}
#hero-text ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 1rem;
}
#hero-text ul li button {
  background-color: greenyellow;
  padding: .5rem;
  font-size: 1rem;
  border: none;
  box-shadow: -2px 2px 2px black;
  margin-top: 1rem;
}
#hero-img {
  width: 100%;
  z-index: 0;
}
#reviews {
  text-align: left;
  width: 95%;
  background-color: black;
  color: greenyellow;
  padding-bottom: 1rem;
  margin: auto;
}
#reviews h1 {
  margin-bottom: 0px;
}
#reviews ul {
  margin-top: 0px;
}

table {
  width: 100%;
  row-gap: 1rem;
  column-gap: 1rem;
  border-spacing: 1rem;
  margin: 0px;
}
table tr td {
  background-color: rgb(4, 73, 46);
  border: 2px solid black;
  width: 40%;
}
table tr:nth-child(even) td{
  background-color: white;
  border: none;
}

footer {
  display:block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  color: black;
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem;
}

#inv-display li a{
text-decoration: none;
color: black;}
#inv-display {
  list-style-type: none;
}
#inv-display span {
  margin-left: 1rem;
  padding: .5rem;
  background-color: lightgray;
  font-size: 16px;
  color: darkgreen;
}


@media screen and (min-width: 450px) {
  

body{
  width: 100%;
  margin: 0px;
  margin-top: 1rem;
  padding: 0px;
  background-image: url("/images/site/small_check.jpg");
  
}
header, main, footer, nav {
  width: 80%;
  margin: auto;
  background-color: white;
  border: 5px solid greenyellow;
}
nav{
  background-color: black;
  border-top:none;
  border-bottom:none;
  position: relative;
  padding: .5rem;
  margin-bottom: 0px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content:space-around;
}
nav ul li a:hover {
  background-color: greenyellow;
  color: black;
}
header {
  height: fit-content;
  text-decoration: none;
  border-bottom: none;
  display: grid;
  grid-template-columns: 2fr auto 1fr;
  border-radius: 1rem;
  padding: 1rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#tools {
  grid-column: 3/4;
  float: right;
  text-align: right;
}
main {
  border-top: none;
  border-bottom: none;
  padding-top: 2rem;
  margin-top: -1rem;
  margin-bottom:0rem;
  display: grid;
}
h1 {
  grid-row: 1/2;
  font-size: 2rem;
}
#hero {
  width: 100%;
  height:fit-content;
  object-fit: cover;
  margin: 0rem;
  padding: 0px;
  grid-column: 1/3;
  grid-row: 2/3;
}
#hero-text {
  position: unset;
  top: unset;
  position:relative;
  top: -15rem;
  left: 5rem;
}
#hero-text ul li {
  font-size: 1.75rem;
}
#hero-text h2, #hero-text ul li button {
  font-size: 2.25rem;
  margin: 1rem;
  margin-left: 0px;
}

#hero-img {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
#reviews {
  grid-row: 3/4;
  grid-column: 2/3;
  margin-top: 0px;
  height: 100%;
  background-color: white;
  color: black;
}
#upgrades {
  grid-row: 3/4;
  grid-column: 1/2;
  margin-top: 0px;
}
#upgrades table {
  margin-top: 0px;
}
footer {
  border-top: none;
  position: relative;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  text-align: left;
  padding-bottom: 0px;
}
}