<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%# messages() %>

<%- grid %>
<h3 id="error-button"><a href="/inv/type/footerPartial">Do Not Click This</a></h3>